/* Adapting styles to a 1150px screen */
@media screen and (max-width: 1150px) {
    .countainer {
        max-width: 992px;
    }

    .right {
        margin-right: 31px;
    }

    .description_watch {
        height: 484px;
    }

    .descriptTheWatch {
        width: 460px;
        height: 432px;
    }

    .descriptModelX, .descriptModelY {
        padding: 0;
    }

    .modal_content {
        box-sizing: border-box;
        max-width: 920px;
    }

    .butConfirm, .butCancel {
        width: 200px;
    }
}

/* Transitional style for content adaptation */
@media screen and (max-width: 992px) {
    .countainer {
        max-width: 920px;
    }

    .descriptTheWatch {
        width: 424px;
        height: 500px;
    }

    .blackwatch_main {
        margin-right: 0px;
    }

    .description_watch {
        height: 552px;
    }

    .photo_watch {
        width: 435px;
        height: 300.45px;
    }

    .models, .purchase {
        margin-top: 90px;
    }

    .modal_content {
        height: 432px;
        margin-top: 48px;
    }

    .data {
        height: 296px;
    }

    .buttonModal {
        margin-top: 48px;
    }
}

/* Adapting styles to a 768px screen */
@media screen and (max-width: 768px) {

    .countainer {
        max-width: 690px;
    }

    .linkHat {
        padding-top: 27px;
        width: 160px;
    }

    .right {
        margin-right: 0;
        margin-bottom: 9px;
        display: block;
    }

    .hatDescript {
        position: static;
        margin: 149px auto 0;
        width: 100%;
        height: 256px;
    }

    .blackwatch_main {
        display: none;
    }

    .articleHat {
        text-align: center;
        font-size: 57px;
    }

    .descript {
        margin: 40px auto 0;
        width: 100%;
        max-width: 600px;
    }

    .aboutTheWatch {
        margin-top: 231px;
    }

    .descriptTheWatch {
        position: static;
        margin: 52px auto 0;
        width: 570px;
        height: 358px;
    }

    .photo_watch {
        display: none;
    }

    .models {
        margin-top: 227px;
    }

    .form {
        width: 690px;
    }

    .inputForm {
        width: 330px;
    }

    .selectForm {
        width: 336px;
    }

    .contact {
        width: 218px;
    }

    .articleCont {
        margin-bottom: 46px;
    }

    .number {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .indent {
        display: none;
    }
}

/* Transitional style for content adaptation */
@media screen and (max-width: 700px) {
    .form {
        width: 340px;
        height: 585px;
    }

    .collum2 {
        margin-top: 20px;
    }

    .butPurchase {
        margin-top: 30px;
        margin-left: -5px;
    }

    .buttonModal, .butConfirm, .butCancel {
        width: 350px;
    }

    .modal_content {
        margin-top: 24px;
        max-width: 600px;
        height: 454px;
    }

    .data {
        margin-top: 24px;
    }

    .buttonModal {
        margin-top: 24px;
    }

    .butConfirm {
        position: static;
    }

    .butCancel {
        margin-top: 12px;
    }
}

/* Adapting styles to a 576px screen */
@media screen and (max-width: 576px) {
    .countainer {
        max-width: 508px;
    }

    .hatDescript {
        height: 294px;
    }

    .articleHat {
        font-size: 64px;
    }

    .linkHat {
        width: 134px;
    }

    .descriptTheWatch {
        width: 100%;
        height: 416px;
    }

    .descriptModelX, .descriptModelY {
        height: 190px;
    }

    .modal_content {
        max-width: 508px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .butConfirm, .butCancel {
        width: 100%;
    }

    .info {
        margin-left: 0px;
    }

    .contact {
        margin-right: 0px;
    }
}

/* Transitional style for content adaptation */
@media screen and (max-width: 490px) {
    .countainer, .modal_content {
        max-width: 320px;
    }

    .article_hat {
        font-size: 39px;
        padding-top: 13px;
        width: 100%;
        max-width: 320px;
        text-align: center;
    }
    
    .linkHat {
        padding-top: 71px;
        margin-left: 0px;
        width: 100%;
    }

    .right {
        margin-bottom: 0;
    }

    .oneLink, .twoLink, .bottom {
        display: block;
    }

    .oneLink {
        position: absolute;
        width: 150px;
    }

    .twoLink {
        width: 100%;
        text-align: right;
    }

    .bottom {
        text-align: center;
        margin: 5px auto 0;
    }
    
    .hatDescript {
        width: 291px;
        height: 409px;
    }

    .articleHat {
        font-size: 40px;
        margin-bottom: 45px;
    }

    .aboutTheWatch {
        margin-top: 230px;
    }

    .description_watch {
        height: 782px;
    }

    .descriptTheWatch {
        width: 288px;
        height: 730px;
    }

    .models {
        margin-top: 230px;
    }

    .model-y {
        margin-top: 245px;
    }

    .photoModelY {
        width: 100%;
    }

    .purchase {
        margin-top: 274px;
    }

    .form {
        width: 100%;
    }

    .inputFormInfo {
        max-width: 290px;
    }

    .inputForm, .selectForm, .butPurchase, .btnForm {
        width: 100%;
        max-width: 290px;
    }

    .inputForm, .selectForm, .btnForm  {
        box-sizing: border-box;
    }

    .butPurchase {
        margin-left: 0;
    }

    .modal_content {
        margin-top: 6px;
        height: 490px;
        padding: 4px;
    }

    .buttonModal {
        width: 100%;
    }

    .footer {
        height: 690px;
        text-align: center;
    }

    .info {
        position: static;
        width: 100%;
    }

    .contact {
        margin-top: 62px;
        width: 100%;
        padding-top: 0;
        float: none;
    }

    .contact:last-child {
        margin-bottom: 0px;
    }
}

/* Adapting styles to a 320px screen */
@media screen and (max-width: 320px) {
    .countainer {
        max-width: 290px;
    }

    .article_hat {
        max-width: 290px;
    }
}